# Build output
bin/
obj/

# Visual Studio folders
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Documentation for myself:
ToDo.md